<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <p><a href = "/film">Inserisci nome film</a></p>
        <p><a href = "/genere">Inserisci il genere con testo</a></p>
        <p><a href = "/genereTendina">Inserisci il genere da un menu a tendina</a></p> 
        <p><a href = "/genereRadio">Inserisci il genere da una lista di radiobutton</a></p>
        <p><a href = "/genereCheck">Inserisci il genere da una lista di checkbox</a></p>
        <p><a href = "/budget">Visualizza i film senza budget</a></p>
        <p><a href = "/grafico">visualizzare un grafico con il numero di film per ogni genere.</a></p>
    </body>
</html>