<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>genere</title>
</head>
<body>
    <form action = "/datiGenereTendina" method="GET">
        <select name = "genereTendina">
            {% for f in elenco %}
                <option value = "{{f}}">{{f}}</option>
            {%endfor%}
        </select><br><br>
        <input type="submit" value = "Clicca per conoscere i dati">
    </form>
</body>
</html>